<div id="notificationsContainer">
	<div id="notificationsTitle"><%= l(:notifications) %></div>
	<div id="notificationsBody" class="notifications">
		<% @app_notifications.where(viewed: false).each do |notification| %>
			<% if notification.is_edited? %>
				<%= render :partial => 'issues/issue_ajax_edit', :formats => [:html], :locals => { :notification => notification, :journal => notification.journal, :journal_details => details_to_strings(notification.journal.visible_details(notification.author), false, :only_path => false) }%>
			<% else %>
				<%= render :partial => 'issues/issue_ajax_add', :formats => [:html], :locals => { :notification => notification }%>
			<% end %>
		<% end %>
	</div>
	<div id="notificationsFooter">
		<div />
		<div>
		<a href="<%= url_for( {:controller => "app_notifications", :action => "index"} )%>"><%= l(:see_all) %></a>
	</div>
		<div class="view-all-for-summary">
			<a href="<%= url_for( {:controller => "app_notifications", :action => "view_all_for_summary"} )%>" onclick="$.ajax({type: 'GET', url: $(this).attr('href'), dataType: 'html', success: function() { $('#notificationsContainer').hide(); } }); $('#notification_count').text('0'); return false;"><%= l(:mark_all_as_seen) %></a>
		</div>
	</div>
</div>
